<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
<body>
  <header>
    <%- include('./partials/header') %>
    <h1>Welcome to Docuguard!</h1>
    <p class="sub-header"> <strong>Your Ultimate App for keeping your documents!</strong> </p>
  </header>

  <section class="hero">
    <div class="container">
      <h2 class="hero-heading">Stay Organized and Secure</h2>
      <p class="hero-text">Welcome to DocuGuard, your reliable document management app. Store your documents safely, get reminders for updates, and track insurance anniversaries hassle-free.</p>
    </div>
  </section>

  <section class="why-docuguard">
    <div class="container">
      <h2>Why DocuGuard?</h2>
      <p>DocuGuard is designed to address the need for a centralized platform to store and manage important documents. With our app, you can keep track of document updates and insurance renewals effortlessly.</p>
    </div>
  </section>

  <section class="what-we-offer">
    <div class="container">
      <h2>What We Offer</h2>
      <ul>
        <li>Secure Document Storage: Store all your important documents securely in one place.</li>
        <li>Automatic Reminders: Receive timely reminders for document updates and insurance anniversaries.</li>
        <li>Customizable Categories: Organize your documents into customizable categories for easy access.</li>
        <li>Cloud Backup: Your documents are backed up securely in the cloud, ensuring they're always accessible.</li>
      </ul>
    </div>
  </section>

   <!-- Testimonials Section -->
   <section class="testimonials">
    <div class="container">
      <h2>Testimonials</h2>
      <blockquote>
        <p>"DocuGuard has made managing my documents so much easier. I never miss an update or renewal deadline now!"</p>
        <footer>— Nto N., Satisfied User</footer>
      </blockquote>
      <blockquote>
        <p>"I highly recommend DocuGuard to anyone looking for a reliable document management solution. It's user-friendly and efficient!"</p>
        <footer>— Pro D., Happy Customer</footer>
      </blockquote>
    </div>
  </section>

 <!-- Get Involved Section -->
 <section class="get-involved">
  <div class="container">
    <h2>Get Involved</h2>
    <p>Join our community of users who value organization and security. Download DocuGuard today and take control of your documents!</p>
  </div>
</section>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p>Contact Us: <a href="mailto:contact@docuguard.com">contact@docuguard.com</a></p>
    <p>Follow Us: 
      <a href="#"><img src="/images/facebook-logo.png" alt="Facebook"></a> |
      <a href="#"><img src="/images/twitter-logo.png" alt="Twitter"></a> |
      <a href="#"><img src="/images/instagram-logo.png" alt="Instagram"></a>
    </p>
    <p>&copy; 2024 DocuGuard. All rights reserved.</p>
  </div>
</footer>

  <script src="/js/script.js"></script>
</body>
</html>